.menuphu{
    display: none;
}
.menusp:hover .menuphu{
    display: block;
}
.filterProducts{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterProducts > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-card{
    position: relative;
    overflow: hidden;
}
.love{
    position: absolute;
    bottom: 20px;
    right: 15px;
    border-radius: 100%;
    padding: 5px 9px;
    border: none;
    background-color: white;
    color: black;
    border: 1.5px solid;
}
.addcart{
    position: absolute;
    bottom: 60px;
    right: 14px;
    border-radius: 100%;
    padding: 5px 8.5px;
    border: none;
    background-color: white;
    color: black;
    border: 1.5px solid;
}

.discount{
    text-decoration: line-through;
    font-size: 14px;
}
.favourites li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.favourites > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#close-love{
    font-size: 23px;
    background-color: white;
    border: none;
    
}

.cartList > p{
    display: flex;
    justify-content: flex-end;
}
.cartList .btn-checkout{
    display: flex;
    justify-content: flex-end;
    background-color: #7691A4;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.cartList li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.cartList > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    box-shadow: 0 10px 20px rgba(26, 144, 187, 0.2);
    transition: .4s;
    cursor: pointer;
  }
/* Định dạng kích thước cố định cho hình ảnh và border */
.zoom-effect {
    overflow: hidden;
    width: 100%;
    transition: border 0.3s ease, transform 0.3s ease; /* Thêm transition cho hiệu ứng zoom và border */
  }
  
  .zoom-effect img {
    width: 100%;
    height: auto;
  }
  
  
  .zoom-effect:hover img {
    transform: scale(1.1); /* Khi di chuột qua, phóng to ảnh lên 110% (1.1 lần kích thước ban đầu) */
  }
  